.container {
	width: 100%;
	max-width: 100%;
}

@media (min-width: 900px) { 
	.container {
		width: auto !important;
		max-width: 680px !important;
		padding: 0 15px;
	}
}

.copyright {
	position: fixed;
    bottom: 0;
    right: 0;
	color: #CCCCCC;
}